/** @format */
@import url(../../style.css);

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
  }
  

  .loggedUserText {
    color: white;
    text-transform: uppercase;
    margin: auto;
    font-weight: 300;
  }
  
  .loggedUserText b {
    font-weight: 600;
    color: #f05c56;
  }
  
  .hero {
    background-color: #ffffff;
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .hero-text {
    max-width: 600px;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #f05c56;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left: 38%;
    border-radius: 4px;
  }
  
  .btn-primary:hover {
    background-color: #3fbaea;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .container {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .containerImg,
  .containerContent {
    width: 50%;
    height: 50vh;
    box-sizing: border-box;
  }
  
  .containerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .containerGif {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: black;
  }
  
  .containerGif video {
    position: absolute;
    left: 60%;
    top: 50%;
    width: 130%;
    height: 140%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  
  .containerContent {
    background-color: #161720;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 4vh;
  }
  
  .container2 {
    margin-top: -1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .containerGif,
  .containerContentGif {
    width: 50%;
    height: 80vh;
    box-sizing: border-box;
  }
  
  .containerContentGif {
    background-color: #161720;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 4vh;
  }
  
  .containerGif img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contentTitle {
    color: white;
    padding-left: 5vh;
    padding-right: 12vh;
    font-weight: 600;
    margin: 0 0 2vh 0;
    text-align: justify;
  }
  
  .mascotte {
    width: 45vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr {
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 82vh;
  }
  
  .contentParagraph {
    color: white;
    padding-left: 5vh;
    padding-right: 12vh;
    font-weight: 200;
    text-align: justify;
    margin: 0;
  }
  
  #loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 20vh;
  }
  
  #loginBlock {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
    text-align: left;
    color: #262b36;
  }
  
  #loginBlock h2 {
    text-align: center;
    color: #262b36;
    margin-bottom: 20px;
  }
  
  #loginBlock a {
    text-decoration: none;
    color: #262b36;
  }
  
  #loginBlock p {
    text-align: center;
  }
  
  #loginForm label {
    display: block;
    margin-top: 10px;
  }
  
  #loginForm input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #262b36;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  #loginForm button:hover {
    background-color: #3fbaea;
  }
  
  #loginMessage {
    text-align: center;
    margin-top: 20px;
    color: #262b36;
  }
  
  #loginForm input::placeholder {
    color: #aaa;
    opacity: 1;
  }
  
  #registerFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 20vh;
  }
  
  #registerBlock {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
    text-align: left;
    color: #262b36;
  }
  
  #registerBlock h2 {
    text-align: center;
    color: #262b36;
    margin-bottom: 20px;
  }
  
  #registerBlock a {
    text-decoration: none;
    color: #262b36;
  }
  
  #registerBlock p {
    text-align: center;
  }
  
  #registerBlock label {
    display: block;
    margin-top: 10px;
  }
  
  #registerForm input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #registerForm button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #262b36;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  #registerForm button:hover {
    background-color: #3fbaea;
  }
  
  #registerMessage {
    text-align: center;
    margin-top: 20px;
    color: #262b36;
  }
  
  #registerForm input::placeholder {
    color: #aaa;
    opacity: 1;
  }