/** @format */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 10px;
  position: relative; /* Needed for the after pseudo-element */
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Adjust padding to match the buttons */
  transition: background-color 0.3s;
  position: relative;
  display: flex; /* Ensure links fill their container */
  align-items: center; /* Center text vertically */
  height: 40px; /* Match height with buttons if needed */
  box-sizing: border-box; /* Ensure padding is included in height */
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(57, 62, 70);
  background: linear-gradient(180deg, rgba(57, 62, 70, 1) 0%, rgba(42, 44, 62, 1) 100%);
  padding: 10px 20px;
}

.logo {
  color: white;
}

.logo img {
  width: 10vh;
}

/* .nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(191, 195, 203);
  padding: 8px 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: white;
  border-radius: 4px;
  transition: 0.1s;
  background-color: #f05c56;
  transition: background-color 0.6s;
}

.links {
  display: flex;
} */

.btnLogIn {
  background-color: white;
  border: none;
  color: #262b36;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.btnLogOut {
  background-color: #44526e;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.btnLogIn:hover {
  background-color: #f05c56;
  color: white;
  transition: background-color 0.6s;
}

.btnLogOut:hover {
  background-color: #f05c56;
  color: white;
  transition: background-color 0.6s;
}

.hero {
  background-color: #ffffff;
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #f05c56;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #3fbaea;
}

h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
.container {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerImg,
.containerContent {
  width: 50%;
  height: 50vh;
  box-sizing: border-box;
}

.containerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerGif {
  position: relative;
  width: 100%;
  height: 300px; /* Altezza desiderata del contenitore */
  overflow: hidden;
  background-color: black; /* Opzionale, per evitare bordi neri visibili durante il caricamento */
}

.containerGif video {
  position: absolute;
  left: 60%;
  top: 50%;
  width: 130%;
  height: 140%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.containerContent {
  background-color: #161720;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 4vh;
}

.container2 {
  margin-top: -1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerGif,
.containerContentGif {
  width: 50%;
  height: 80vh;
  box-sizing: border-box;
}

.containerContentGif {
  background-color: #161720;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 4vh;
}

.containerGif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentTitle {
  color: white;
  padding-left: 5vh;
  padding-right: 12vh;
  font-weight: 600;
  margin: 0 0 2vh 0;
  text-align: justify;
  text-justify: distribute;
}

.mascotte {
  width: 80vh;
  margin-left: 32.30%;
  margin-top: 5vh;
}

hr {
  margin-top: 4vh;
  margin-bottom: 2vh;
  width: 82vh;
}

.contentParagraph {
  color: white;
  padding-left: 5vh;
  padding-right: 12vh;
  font-weight: 200;
  text-align: justify;
  margin: 0;
}

/* Da qui parte il footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 60px;
  margin-bottom: 10px;
  padding: 20px 0px;
  width: 100%;
  border-top: 2px solid #262b36;
}

.left,
.center,
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}
.left img {
  width: 4vh;
}

.center img {
  width: 4vh;
}

.right img {
  width: 4vh;
}
/* fine footer */

/* da qui login */

#loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-top: 20vh;
}

#loginBlock {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
  text-align: left;
  color: #262b36;
}

#loginBlock h2 {
  text-align: center;
  color: #262b36;
  margin-bottom: 20px;
}

#loginBlock a {
  text-decoration: none;
  color: #262b36;
}

#loginBlock p {
  text-align: center;
}

#loginForm label {
  display: block;
  margin-top: 10px;
}

#loginForm input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#loginForm button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #262b36;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#loginForm button:hover {
  background-color: #3fbaea;
}

#loginMessage {
  text-align: center;
  margin-top: 20px;
  color: #262b36;
}

#loginForm input::placeholder {
  color: #aaa;
  opacity: 1;
}

/* fine login */

/* inizio register */
#registerFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-top: 20vh;
}

#registerBlock {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
  text-align: left;
  color: #262b36;
}

#registerBlock h2 {
  text-align: center;
  color: #262b36;
  margin-bottom: 20px;
}

#registerBlock a {
  text-decoration: none;
  color: #262b36;
}

#registerBlock p {
  text-align: center;
}

#registerBlock label {
  display: block;
  margin-top: 10px;
}

#registerForm input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#registerForm button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #262b36;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#registerForm button:hover {
  background-color: #3fbaea;
}

#registerMessage {
  text-align: center;
  margin-top: 20px;
  color: #262b36;
}

#registerForm input::placeholder {
  color: #aaa;
  opacity: 1;
}
/* fine register */

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
  }

  .buttons {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
  }

  .links {
    margin-top: 10px;
  }
}
