/** @format */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  background: rgb(235, 239, 244);
  background: linear-gradient(180deg, rgba(235, 239, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.timer {
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-left: 2.9vh;
  font-weight: 900;
  color: #f05c56;
}

.completed-list-card h2 {
  text-align: center;
  color: #262b36;
}

.completed-list-card ul,
.todo-list-card ul {
  list-style-type: none;
  padding: 0;
  color: #f05c56;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 10px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(57, 62, 70);
  background: linear-gradient(180deg, rgba(57, 62, 70, 1) 0%, rgba(42, 44, 62, 1) 100%);
  padding: 10px 20px;
}

.logo {
  color: white;
}

.logo img {
  width: 10vh;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0vh 50vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15vh 1vh;
}

.logo a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.auth a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.todo-list-card {
  
  text-align:center;
  width: auto;
  margin-left: auto;
}

.todo-list-card img {
  width: 20vh;
}

.todo-list-card h1 {
  text-align: center;
  font-size: 2.5em;
  margin-left: 3vh;
  margin-bottom: -2vh;
  color: #f05c56;
}

.card {
  background-color: #fff;
  padding-top: 5vh;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 40px;
  /*padding-left: 3vh;*/
}

.card input {
  margin-top: 2vh;
  /*margin-left: 2vh;*/
  width: 98%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.card button {
  background-color: #44526e;
  color: #fff;
  /*margin-left: 2vh;*/
  margin-top: 2vh;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 98%;
}

.card button:hover {
  background-color: #f05c56;
}

#todo-form {
  margin-bottom: 40px;
  margin-right: 40px;
}

/*
#todo-form img {
  margin-left: 12vh;
}
*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 4px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 60px;
  margin-bottom: 10px;
  padding: 20px 0px;
  width: 100%;
  border-top: 2px solid #262b36;
}

.left,
.center,
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.left img {
  width: 4vh;
}

.center img {
  width: 4vh;
}

.right img {
  width: 4vh;
}

#unmute-button { 
  visibility: hidden;
  background-color: #44526e;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  line-height: 3vh;
  text-align: center;
  width: 3vh;
}

/* fine footer */

/*
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .section,
  .todo-list-card {
    width: 50%;
    margin: 0 0 20px 0;
  }

  .todo-list-card {
    margin-left: 20vh;
  }
}
*/
